<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1000029930704-erql78pdn9t1je6tqug37jpr0hatjfls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000029930704-erql78pdn9t1je6tqug37jpr0hatjfls</string>
	<key>API_KEY</key>
	<string>AIzaSyALnuSJruFsCrhWrKOEzLlWAhpoq6eX8yk</string>
	<key>GCM_SENDER_ID</key>
	<string>1000029930704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shermanshi.Wake-Up-Happy</string>
	<key>PROJECT_ID</key>
	<string>wake-up-happy-8641e</string>
	<key>STORAGE_BUCKET</key>
	<string>wake-up-happy-8641e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000029930704:ios:ae0459970fa36d97</string>
	<key>DATABASE_URL</key>
	<string>https://wake-up-happy-8641e.firebaseio.com</string>
</dict>
</plist>